name: Pull Requests

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch: {}
  pull_request:
    branches:
      - main
      - track/*

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Determine any rockcraft.yaml changed in the PR
      id: changed-files
      uses: tj-actions/changed-files@v47
      with:
        files: "**/rockcraft.yaml"

    - name: Setup LXD
      if: steps.changed-files.outputs.any_changed
      uses: canonical/setup-lxd@v1
      with:
        channel: latest/stable

    - name: Install dependencies
      if: steps.changed-files.outputs.any_changed
      run: |
        sudo snap install --classic --channel edge rockcraft

    - name: Build ROCK
      if: steps.changed-files.outputs.any_changed
      run: |
        for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
          current_wd=$(pwd) && cd ${file%/*}
          rockcraft pack
          cd $current_wd
        done
